body {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.menu {
  display: flex;
  align-items: center;
  margin-top: 10px;
  border: 1px solid #ddd;
  height: 90px;
  border-left: none;
  border-right: none;
  border-top: none;
}
.link-menu .icon-instagram {
  background-image:url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_b1c882bed79e.png/b1c882bed79e.png);
  background-repeat: no-repeat;
  background-position: -257px -200px;
  height: 24px;
  width: 24px;
}
.link-menu .straight {
  background-color: #262626;
  height: 28px;
  width: 1px;
  margin-left: 40px;
  margin-top: -25px;
}
.link-menu .instagram-image {
  background-image:url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_b1c882bed79e.png/b1c882bed79e.png);
  background-repeat: no-repeat;
  background-position: -74px -200px;
  height: 29px;
  width: 103px;
  margin-left: 60px;
  margin-top: -25px;
}
a:hover .link-menu {
  background-color: red;
}
.link-menu {
  flex-grow: 1;
  padding-left: 100px;
}
.search input {
  text-align: center;
  height: 25px;
  width: 200px;
}
.search {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.icon-team .compass {
  background-image:url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_b1c882bed79e.png/b1c882bed79e.png);
  background-repeat: no-repeat;
  background-position: -74px -231px;
  height: 24px;
  width: 24px;
  margin-right: 30px;
}
.icon-team .heart {
  background-image:url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_b1c882bed79e.png/b1c882bed79e.png);
  background-repeat: no-repeat;
  background-position: -104px -300px;
  height: 24px;
  width: 24px;
  margin-right: 30px;
}
.icon-team .user {
  background-image:url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_b1c882bed79e.png/b1c882bed79e.png);
  background-repeat: no-repeat;
  background-position: -234px -274px;
  height: 24px;
  width: 24px;
  margin-left: 0px;
}
.icon-team {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  padding-right: 130px;   
}
/*----------------------------------------------------------------*/
.text {
  padding: 50px  0px 10px 300px;
}
.border {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  width: 700px;
  height: auto;
  position: relative;
  left: 300px;
}
.user-suggestions {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 6px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.image {
  width: 44px;
  height: 44px;
  background-image: url('https://yt3.ggpht.com/a/AGF-l78QGTW3gMAN3s_devNGhlzjBO9eCRPGTg0iUQ=s900-c-k-c0xffffffff-no-rj-mo'); 
  border-radius: 50%; 
  background-size: cover; 
  background-position: center;
  position: relative; left: 8px;
}
.image-1 {
  width: 44px;
  height: 44px;
  background-image: url('https://yt3.ggpht.com/a/AGF-l7_X_bsF0dt91ltgWQHnPrjqQGko2AN_szMy2A=s900-c-k-c0xffffffff-no-rj-mo'); 
  border-radius: 50%; 
  background-size: cover; 
  background-position: center;
  position: relative; left: 8px;
}
.image-2 {
  width: 44px;
  height: 44px;
  background-image: url('https://2sao.vietnamnetjsc.vn/images/2019/09/25/22/58/hoa-minzy-05.jpg'); 
  border-radius: 50%; 
  background-size: cover; 
  background-position: center;
  position: relative; left: 8px;
}
.image-3 {
  width: 44px;
  height: 44px;
  background-image: url('https://cdn.tuoitre.vn/thumb_w/640/2019/2/22/soobin-15508097552801550704754.jpg'); 
  border-radius: 50%; 
  background-size: cover; 
  background-position: center;
  position: relative; left: 8px;
}
.image-4 {
  width: 44px;
  height: 44px;
  background-image: url('https://image.thanhnien.vn/660/uploaded/thuyptt/2019_01_28/chipu2_otji.jpg'); 
  border-radius: 50%; 
  background-size: cover; 
  background-position: center;
  position: relative; left: 8px;
}
.image-5 {
  width: 44px;
  height: 44px;
  background-image: url('http://assets.htv.com.vn/Images/TAP%20CHI%20HTV/Trao%20doi%20chuyen%20nhge/hien/CHUYEN%20TRONG%20NGHE/Dieu%20Nhi/Dieu%20Nhi1.jpg'); 
  border-radius: 50%; 
  background-size: cover; 
  background-position: center;
  position: relative; left: 8px;
}
.image-6 {
  width: 44px;
  height: 44px;
  background-image: url('https://image.thanhnien.vn/660/uploaded/quochung.qc/2019_09_26/hariwon_cqdg.png'); 
  border-radius: 50%; 
  background-size: cover; 
  background-position: center;
  position: relative; left: 8px;
}
.image-7 {
  width: 44px;
  height: 44px;
  background-image: url('https://yt3.ggpht.com/a-/AAuE7mCdjOaN_BBTJ6aesqjuYE9OHb4GEqXwU8V87Q=s900-mo-c-c0xffffffff-rj-k-no'); 
  border-radius: 50%; 
  background-size: cover; 
  background-position: center;
  position: relative; left: 8px;
}
.info {
  flex-grow: 1;
  padding: 0px 15px;
}
.info .nick-name {
  font-size: 14px;
  font-weight: 600;
}
.info a:link {
  text-decoration: none;
  color: black;
}
.info a:hover {
  text-decoration: none;
  color: black;
}
.info a:visited {
  text-decoration: none;
  color: black;
}
.icon {
  height: 12px;
  width: 12px;
  background-image:url(https://www.instagram.com/static/bundles/es6/sprite_core_4f48d3d2062b.png/4f48d3d2062b.png);
  background-repeat: no-repeat;
  background-position: -302px -337px;
  margin: -15px 0px 0px 85px;
}
.icon-1 {
  height: 12px;
  width: 12px;
  background-image:url(https://www.instagram.com/static/bundles/es6/sprite_core_4f48d3d2062b.png/4f48d3d2062b.png);
  background-repeat: no-repeat;
  background-position: -302px -337px;
  margin-top: -14px;
  margin-left: 117px;
}
.icon-2 {
  height: 12px;
  width: 12px;
  background-image:url(https://www.instagram.com/static/bundles/es6/sprite_core_4f48d3d2062b.png/4f48d3d2062b.png);
  background-repeat: no-repeat;
  background-position: -302px -337px;
  margin-top: -14px;
  margin-left: 100px;
}
.icon-3 {
  height: 12px;
  width: 12px;
  background-image:url(https://www.instagram.com/static/bundles/es6/sprite_core_4f48d3d2062b.png/4f48d3d2062b.png);
  background-repeat: no-repeat;
  background-position: -302px -337px;
  margin-top: -14px;
  margin-left: 113px;
}
.icon-4 {
  height: 12px;
  width: 12px;
  background-image:url(https://www.instagram.com/static/bundles/es6/sprite_core_4f48d3d2062b.png/4f48d3d2062b.png);
  background-repeat: no-repeat;
  background-position: -302px -337px;
  margin-top: -14px;
  margin-left: 56px;
}
.icon-5 {
  height: 12px;
  width: 12px;
  background-image:url(https://www.instagram.com/static/bundles/es6/sprite_core_4f48d3d2062b.png/4f48d3d2062b.png);
  background-repeat: no-repeat;
  background-position: -302px -337px;
  margin-top: -14px;
  margin-left: 62px;
}
.icon-6 {
  height: 12px;
  width: 12px;
  background-image:url(https://www.instagram.com/static/bundles/es6/sprite_core_4f48d3d2062b.png/4f48d3d2062b.png);
  background-repeat: no-repeat;
  background-position: -302px -337px;
  margin-top: -14px;
  margin-left: 56px;
}
.icon-7 {
  height: 12px;
  width: 12px;
  background-image:url(https://www.instagram.com/static/bundles/es6/sprite_core_4f48d3d2062b.png/4f48d3d2062b.png);
  background-repeat: no-repeat;
  background-position: -302px -337px;
  margin-top: -14px;
  margin-left: 56px;
}
.info .name {
  font-size: 14px;
  font-weight: 400;
  color: rgb(153, 153, 153);
}
.info .type {
  font-size: 12px;
  font-weight: 400;
  color: rgb(153, 153, 153);
}
.button {
  padding-right: 15px;
}
.button input {
  background-color: #3897f0;
  border: 1px solid #3897f0;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  padding: 5px 9px;
}
/*----------------------------------------------------------------*/
.policy-bottom a:link {
  text-decoration: none;
  color: #003569;
}
.policy-bottom a:hover {
  text-decoration: none;
  color: #003569;
}
.policy-bottom a:visited {
  text-decoration: none;
  color: #003569;
}
.policy-bottom .list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  padding-top: 20px;
}
.policy-bottom .label {
  color: #999;
  font-size: 12px;
  padding-left: 60px;
}

